@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto Condensed', sans-serif!important;
  //font-family: inherit;
  a{
    text-decoration: none;
  }
}

//modal
.modal{
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.73);
  .modal_content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 15px;
    width: 70%;
    height: auto;
    overflow: hidden;
    .close{
      float: right;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: red;
        @include transition(.5s)
      }
    }
    .modal_header{
      text-align: center;
      padding: 10px 0;
      h1{
        font-size: 22px;
      }
    }
    .modal_wrapp {
      margin-top: 15px;
      .modal_confirm{
        text-align: center;
        color: red;
        display: none;
      }
      .err_block{
        display: none;
        padding: 10px;
        border: 1px solid rgba(255, 0, 0, 0.46);
        margin: 5px 0;
        color: red;
      }
      .modal_forms {
        .name, .s_name, .theme{
          margin-bottom: 15px;
        span{
          font-size: 20px;
        }
        #name, #s_name {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 30px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        #modal_field {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 180px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        }
        .btn_modal{
          border: 1px solid #cec9c9;
		  padding: 15px 10px;
          background-color: #e1e1e3;
          color: #000;
          &:hover {
            background-color: #cfcfd1;
            color: #000;
            @include transition(.3s)
          }
        }
        .btn_modal_err{
          display: none;
          border: none;
          width: 105px;
          height: 35px;
          background-color: #e37c73;
          border-color: #ccc;
          color: #000;
        }
      }
    }
  }
}
//nav
.nav{
  background: $navbg;
  height: 40px;
  .nav_left{
    #fa-align-justify{
      line-height: 40px;
      padding: 0 10px;
      color: #000;
      display: none;
      @include mobile_l{
        display: block;
      }
    }
    .ul_nav{
      @include large{
        display: block;
      }
      @include mobile_l{
        display: none;
        position: absolute;
        background: $navbg;
        width: 240px;
        z-index: 9;
      }
      .li_nav{
        float: left;
        @include mobile_l{
          float: none;
        }
        a{
          line-height: 40px;
          display: block;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 14px;
          color: $navclr;
          &:hover{
            background: $def_hover_bg;
            color: #fff;
          }
        }
      }
    }
  }
}
.nav_bottom{
  min-height: 100px;
  margin-bottom: 20px;
  padding: 15px 0;
  border-bottom: 1px dashed $border_bott_nav;
  .container{

    .block_logo {
      display: table-cell;
      width: 260px;
      height: 80px;
      vertical-align: middle;
      padding: 0 10px;
      @include mobile_l{
        margin: 0 auto;
        display: block;
        text-align: center;
      }
      h2 {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 5px;
        @include tablet{
          font-size: 20px;
        }
        @include mobile_l{
          padding-top: 20px;
        }
        .red_w {
          color: red;
        }
      }
      .slogan_logo{
        text-transform: uppercase;
        font-size: 13px;
        width: 80%;
        @include tablet{
          width: 100%;
        }
        @include mobile_l{
          width: 100%;
        }
      }
    }
    .block_nav_info{
      overflow: hidden;
      display: inline-block;
      .block_searh{
        text-align: center;
        display: block;
        float: left;
        margin-top: 32px;
        //padding: 0 10px;
        #show_search{
          cursor: pointer;
          &:hover{
            color: $def_hover_bg;
          }
        }
        @include mobile_l{
          text-align: center;
          display: inline-block;
          width: 100%;
          height: auto;
          vertical-align: middle;
          padding: 0 10px;
          margin-bottom: 15px;
        }
        .form_search{
          //right: 0;
          top: 0;
          box-sizing: border-box;
          width: 0;
          overflow: hidden;
          position: absolute;
          height: 80px;
          @include transition(.1s);
          @include mobile_l{
            margin: 0;
          }
          #close_search{
            background: 0 0;
            color: $def_hover_bg;
            cursor: pointer;
            position: absolute;
            z-index: 9;
            left: 0;
            top: 30px;
          }
          .search_field{
            display: block;
            //right: 0;
            top: 0;
            width: 100%;
            position: absolute;
            height: 80px;
            padding-left: 25px;
            text-transform: uppercase;
            border: none;
            border-bottom: 1px solid #ccc;
            overflow: hidden;
            outline: 0;
            color: #000;
            @include mobile_l{
              width: 100%;
            }
          }
        }
        .slide_search{
          width: 65%;
          left: 0;
          @include mobile_l{
            width: 95%;
            left: auto;
          }
        }
      }
      .block_nav_contacts{
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
        margin-top: 30px;
        @include mobile_l{
          display: none;
        }
        .email_block{
          display: inline-block;
          margin-left: 10px;
          border-left: 1px solid #ccc;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 14px;
          .em_p{
            font-weight: bold;
          }
        }
        .phone_block{
          display: inline-block;
          margin-left: 10px;
          border-left: 1px solid #ccc;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 14px;
          .ph_p{
            font-weight: bold;
          }
        }
      }
    }
    .call_n_offer{
      line-height: 100px;
      height: 80px;
      width: 300px;
      border: 1px solid #ccc;
      float: right;
      @include mobile_l{
        float: none;
        margin: 0 auto;
      }
    }
  }
}


//slider
.wrapp_slider {
  .bxslider {
    img {
      width: 100%;
      max-height: 250px;
      @include tablet_max {
        height: auto;
      }
    }
    .content_slider {
      @include tablet_max {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 20%;
        .header_content_slider {
          font-size: 36px;
          text-transform: uppercase;
        }
      }
      @include large {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 20%;
        .header_content_slider {
          font-size: 36px;
          text-transform: uppercase;
        }
        .inner_slider{
          margin: 25px 0;
          text-transform: uppercase;
          font-size: 20px;
        }
      }
      @include mobile_l {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 11%;
        .header_content_slider {
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
}


