@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto Condensed', sans-serif !important;
  a{
    text-decoration: none;
  }
}

//modal
.modal{
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.73);
  .modal_content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 15px;
    width: 60%;
    height: auto;
    overflow: hidden;
    @include mobile_l{
      width: 100%;
    }
    .close{
      float: right;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: red;
        @include transition(.5s)
      }
    }
    .modal_header{
      text-align: center;
      padding: 10px 0;
      h1{
        font-size: 22px;
      }
    }
    .modal_wrapp {
      margin-top: 15px;
      .modal_confirm{
        text-align: center;
        color: red;
        display: none;
      }
      .err_block{
        display: none;
        padding: 10px;
        border: 1px solid rgba(255, 0, 0, 0.46);
        margin: 5px 0;
        color: red;
      }
      .modal_forms {
        .name, .s_name, .theme{
          margin-bottom: 15px;
        span{
          font-size: 15px;
        }
        #name, #s_name {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 30px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        #modal_field {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 180px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        }
        .btn_modal{
          border: 1px solid #cec9c9;
		  padding: 15px 10px;
          background-color: #e1e1e3;
          color: #000;
          &:hover {
            background-color: #cfcfd1;
            color: #000;
            @include transition(.3s)
          }
        }
        .btn_modal_err{
          display: none;
          border: none;
          width: 105px;
          height: 35px;
          background-color: #e37c73;
          border-color: #ccc;
          color: #000;
        }
      }
    }
  }
}

//wrapp offer
.bg_offer{
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.73);
}
.wrapp_offer_online{
  @include transition(.2s);
  position: fixed;
  height: 100%;
  background: #fff;
  width: 0;
  top: 0;
  right: 0;
  z-index: 999999;
  .close_offer{
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 25px;
    cursor: pointer;
  }
  .wr_off_inner{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    .offer_header{
      padding: 3px;
      text-align: center;
    }
  }
}
.open{
  right: 0;
  width: 50%;
  z-index: 9999999;
  @include mobile_l{
    width: 80%;
  }
}

//nav
.nav{
  background: $navbg;
  height: 40px;
  .nav_left{
    @include mobile_l{
      display: inline-block;
    }
    #fa-align-justify{
      line-height: 40px;
      padding: 0 10px;
      color: #000;
      display: none;
      @include mobile_l{
        display: block;
      }
    }
    .ul_nav{
      @include large{
        display: block;
      }
      @include mobile_l{
        display: none;
        position: absolute;
        background: $navbg;
        width: 240px;
        z-index: 9;
      }
      .li_nav{
        float: left;
        @include mobile_l{
          float: none;
        }
        a{
          line-height: 40px;
          display: block;
          padding: 0 10px;
          text-transform: uppercase;
          font-size: 14px;
          color: $navclr;
          &:hover{
            background: $def_hover_bg;
            color: #fff;
            border-bottom: 2px solid $def_clr_main;
          }
        }
        .a_nav_active{
          border-bottom: 2px solid $def_clr_main;
        }
      }
    }
  }
  .nav_right{
    float: right;
    .sh_online_offer{
      display: inline-block;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 10px;
      color: #fff;
      background: $def_clr_main;
      @include mobile_l{
        font-size: 14px;
      }
    }
  }
}

.nav_bottom {
    background: #f7f5f5;
    height: auto;
    margin-bottom: 20px;
    padding: 15px 0;
    border: 1px solid $border_bott_nav;
  .container {
    .block_logo {
      display: table-cell;
      width: 260px;
      height: 80px;
      vertical-align: middle;
      padding: 0 10px;
      @include mobile_l {
        margin: 0 auto;
        display: block;
        text-align: center;
      }
      h2 {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 5px;
        @include tablet {
          font-size: 20px;
        }
        @include mobile_l {
          padding-top: 20px;
        }
        .red_w {
          color: red;
        }
      }
      .slogan_logo {
        text-transform: uppercase;
        font-size: 13px;
        width: 80%;
        @include tablet {
          width: 100%;
        }
        @include mobile_l {
          width: 100%;
        }
      }
    }
    .block_nav_info {
      margin-left: 15px;
      overflow: hidden;
      display: block;
      @include mobile_l{
        margin-left: 0;
      }
      .wrapp_nav_change{
        overflow: hidden;
        height: 75px;
        @include mobile_l{
          height: 60px;
        }
        .nav_inf_search{
           position: absolute;
           height: 75px;
           width: 75px;
           color: #fff;
           text-align: center;
           &:hover + .down_search{
             margin-top: 0;
           }
          @include mobile_l{
            height: 60px;
            width: 60px;
          }
           #show_search{
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             margin: auto;
             color: #000;
             line-height: 75px;
             display: block;
             @include bradius(50%);
             &:hover{
               color: #fff;
               background: $def_clr_main;
               @include transition(.2s);
             }
             @include mobile_l{
               line-height: 60px;
             }
           }
         }
         .down_search{
          margin-left: 80px;
          height: 75px;
          background: #bbb;
          margin-top: -75px;
          @include transition (.3s);
          &:hover{
           margin-top: 0;
         }
           @include mobile_l{
             height: 60px;
           }
         .down_form_search{
          .down_search_field{
            line-height: 75px;
            width: 100%;
            border: none;
            outline: none;
            padding-left: 15px;
            @include mobile_l{
              line-height: 60px;
            }
          }
        }
      }
        .nav_inf_contact{
          position: relative;
          margin-left: 80px;
          background: #fff;
          height: 75px;
          .em_p{
            position: absolute;
            top: 25%;
            left: 15px;
            padding-left: 20px;
            &:before{
              content: "\f003";
              color: #000;
              display: inline-block;
              margin-top: 3px;
              margin-right: 10px;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: 12px;
            }
          }
          .em{
            position: absolute;
            top: 50%;
            left: 15px;
            padding-left: 20px;
            &:before{
              content: "\f095";
              color: #000;
              display: inline-block;
              margin-top: 3px;
              margin-right: 10px;
              font: normal normal normal 14px/1 FontAwesome;
              font-size: 12px;
            }
          }
        }
      }
    }
    .call {
      @include mobile_l {
        float: none;
        margin: 0 auto;
      }
      .call_link {
        padding-left: 35px;
        line-height: 75px;
        color: #000;
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        @include tablet_max{
          font-size: 12px;
        }
        @include mobile_s{
          padding-left: 40px;
        }
        &:after {
          content: "\f098";
          color: $def_clr_main;
          display: inline-block;
          position: absolute;
          top: 29px;
          left: 10px;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          @include mobile_s{
            left: 16px;
          }
        }
        &:hover{
          color: $def_clr_main;
        }
      }
    }
  }
}


//sidebar
.sidebar {
  .side_product {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .sideb_ul {
    .side_li {
      position: relative;
      .a_side_main {
        display: block;
        padding: 10px 0;
        text-transform: uppercase;
        color: #000;
        border-bottom: 1px dashed #ccc;
        &:hover {
          background: $def_clr_main;
          color: #fff;
          padding-left: 10px;
          @include transition(0.2s);
        }
        &:hover::after {
          color: #fff;
        }
        &:after {
          content: "\f054";
          color: $def_clr_main;
          display: inline-block;
          position: absolute;
          right: 20px;
          margin-top: 3px;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 12px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          @include mobile_s {
            left: 16px;
          }
        }
        @include mobile_l{
          display: inline-block;
        }
      }
      .side_addition_block {
        display: none;
        top: 0;
        left: 100%;
        width: 250px;
        z-index: 101010;
        height: auto;
        padding: 10px;
        position: absolute;
        background: #fff;
        @include mobile_l {
          width: 100%;
          z-index: 1010;
          height: auto;
          position: relative;
          left: 0;
        }
        .side_add_header {
          display: inline-block;
          padding: 10px;
          text-transform: uppercase;
          @include mobile_l {
            display: none;
          }
        }
        .a_child_side {
          padding: 10px;
          display: inline-block;
        }
      }
    }
  }
}

//slider
.wrapp_slider {
  .bxslider {
    img {
      width: 100%;
      max-height: 250px;
      @include tablet_max {
        height: auto;
      }
    }
    .content_slider {
      @include tablet_max {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 20%;
        .header_content_slider {
          font-size: 36px;
          text-transform: uppercase;
        }
      }
      @include large {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 20%;
        .header_content_slider {
          font-size: 36px;
          text-transform: uppercase;
        }
        .inner_slider{
          margin: 25px 0;
          text-transform: uppercase;
          font-size: 20px;
        }
      }
      @include mobile_l {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 11%;
        .header_content_slider {
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
}


