@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body{
  font-family: 'Roboto Condensed', sans-serif !important;
  background: #fafafa;
  a{
    text-decoration: none;
  }
}

//modal
.modal{
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.73);
  .modal_content{
    background-color: #fefefe;
    margin: 5% auto;
    padding: 15px;
    width: 60%;
    height: auto;
    overflow: hidden;
    @include mobile_l{
      width: 100%;
    }
    .close{
      float: right;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: red;
        @include transition(.5s)
      }
    }
    .modal_header{
      text-align: center;
      padding: 10px 0;
      h1{
        font-size: 22px;
      }
    }
    .modal_wrapp {
      margin-top: 15px;
      .modal_confirm{
        text-align: center;
        color: red;
        display: none;
      }
      .err_block{
        display: none;
        padding: 10px;
        border: 1px solid rgba(255, 0, 0, 0.46);
        margin: 5px 0;
        color: red;
      }
      .modal_forms {
        .name, .s_name, .theme{
          margin-bottom: 15px;
        span{
          font-size: 15px;
        }
        #name, #s_name {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 30px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        #modal_field {
          width: 100%;
          outline: none;
          border: 1px solid rgba(204, 204, 204, 0.68);
          height: 180px;
          margin: 5px auto;
          padding: 5px;
          font-size: 17px;
          color: #6e8096;
          @include bradius(2px);
        }
        }
        .btn_modal{
          border: 1px solid #cec9c9;
		  padding: 15px 10px;
          background-color: #e1e1e3;
          color: #000;
          &:hover {
            background-color: #cfcfd1;
            color: #000;
            @include transition(.3s)
          }
        }
        .btn_modal_err{
          display: none;
          border: none;
          width: 105px;
          height: 35px;
          background-color: #e37c73;
          border-color: #ccc;
          color: #000;
        }
      }
    }
  }
}

//wrapp offer
.bg_offer{
  display: none;
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.73);
}
.wrapp_offer_online{
  @include transition(.2s);
  position: fixed;
  height: 100%;
  background: #fff;
  width: 0;
  top: 0;
  right: 0;
  z-index: 999999;
  .close_offer{
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 25px;
    cursor: pointer;
  }
  .wr_off_inner{
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    .offer_header{
      padding: 3px;
      text-align: center;
    }
  }
}
.open{
  right: 0;
  width: 50%;
  z-index: 9999999;
  @include mobile_l{
    width: 80%;
  }
}
//wrapp offer

//nav
.nav{
  background: $navbg;
  height: 40px;
  .nav_left{
    @include mobile_l{
      display: inline-block;
    }
    #fa-align-justify{
      line-height: 40px;
      padding: 0 10px;
      color: $nav_top_clr;
      display: none;
      @include mobile_l{
        display: block;
      }
    }
    .ul_nav{
      @include large{
        display: block;
      }
      @include mobile_l{
        display: none;
        position: absolute;
        background: $navbg;
        width: 100%;
        z-index: 9;
      }
      .li_nav{
        float: left;
        @include mobile_l{
          float: none;
        }
        a{
          line-height: 40px;
          display: block;
          padding: 0 10px;
          color: $nav_top_clr;
          text-transform: uppercase;
          font-size: 14px;
          position: relative;
          &:hover{
            //background: $def_hover_bg;
            background: $offer_online_hover;
            color: $nav_top_clr;
            @include transition(.2s);
          }
        }
        .child_ul{
          display: none;
          width: 200px;
          z-index: 99;
          position: absolute;
          background: $offer_online_hover;
          @include mobile_l{
            position: static;
          }
          .child_li{
            a{
              color: $nav_top_clr;
              font-size: 13px;
              //padding: 5px 10px;
              &:hover{
                background: $offer_online;
                color: $nav_top_clr;
                @include transition(.2s);
              }
            }
          }
        }
      }
    }
  }
  .nav_right{
    float: right;
    .sh_online_offer{
      display: inline-block;
      line-height: 40px;
      text-transform: uppercase;
      padding: 0 10px;
      color: #fff;
      background: $offer_online;
      &:hover{
        background: $offer_online_hover;
      }
      @include mobile_l{
        font-size: 14px;
        background: $navbg;
        color: $nav_top_clr;
      }
    }
  }
}

.nav_bottom {
    background: $nav_btt_bg;
    height: auto;
    padding: 15px 0;
  .container {
    .block_logo {
      display: table-cell;
      width: 260px;
      height: $h_nav_btt;
      vertical-align: middle;
      text-align: center;
      @include mobile_l {
        display: block;
        text-align: left;
        margin-left: 15px;
      }
      img{
        margin: 0 auto;
        height: 60px;
      }
      h2 {
        text-transform: uppercase;
        font-size: 25px;
        margin-bottom: 5px;
        color: $navclr;
        @include tablet {
          font-size: 20px;
        }
        @include mobile_l {
          padding-top: 20px;
        }
        .red_w {
          color: red;
        }
      }
      .slogan_logo {
        text-transform: uppercase;
        font-size: 13px;
        width: 80%;
        color: $navclr;
        @include tablet {
          width: 100%;
        }
        @include mobile_l {
          width: 100%;
        }
      }
    }
    .block_nav_info {
      margin-left: 15px;
      overflow: hidden;
      display: block;
      @include mobile_l{
        margin-left: 0;
      }
      .wrapp_nav_change{
        overflow: hidden;
        height: $h_nav_btt;
        @include mobile_l{
          height: 60px;
        }
        .nav_inf_search{
           position: absolute;
           height: $h_nav_btt;
           width: $h_nav_btt;
           color: #fff;
           text-align: center;
           &:hover + .down_search{
             margin-top: 0;
           }
          @include mobile_l{
            height: 60px;
            width: 60px;
          }
           #show_search{
             position: absolute;
             bottom: 0;
             left: 0;
             right: 0;
             margin: auto;
             color: $search_hover;
             line-height: $lh_nav_btt;
             display: block;
             @include transition(.1s);
             &:hover{
               color: #fff;
               background: $search_hover;
             }
             @include mobile_l{
               line-height: 60px;
             }
           }
          .run_show_search{
            color: #ffffff !important;
            margin: auto;
            height: $h_nav_btt;
            width: $h_nav_btt;
            background: $search_hover_circle;
            line-height: $h_nav_btt !important;
            @include bradius(50%);
            @include transition(.1s);
          }
        }

         .down_search{
          margin-left: 80px;
          height: 59px;
          background: #bbb;
          margin-top: -59px;
          @include transition (.3s);
          &:hover{
           margin-top: 0;
         }
           @include mobile_l{
             height: 59px;
           }
         .down_form_search{
          .down_search_field{
            line-height: $lh_nav_btt;
            width: 100%;
            border: none;
            outline: none;
            padding-left: 15px;
            @include mobile_l{
              line-height: 60px;
            }
          }
        }
      }
        .nav_inf_contact{
          position: relative;
          margin-left: 80px;
          background: $nav_btt_bg;
          height: $h_nav_btt;
          .em_p{
            line-height: $lh_nav_btt;;
            padding-left: 20px;
            color: $navclr;
            text-transform: uppercase;
            //text-shadow: $tsh_nbtt;
            @include mobile_l{
              display: none;
            }
            &:before{
              content: "\f003";
              color: $navclr;
              margin-right: 10px;
              font: normal normal normal 14px/1 FontAwesome;
            }
          }
          .em{
            line-height: $lh_nav_btt;
            padding-left: 20px;
            color: $navclr;
            text-transform: uppercase;
            //text-shadow: $tsh_nbtt;
            @include mobile_l{
              display: none;
            }
            &:before{
              content: "\f095";
              color: $navclr;
              margin-right: 10px;
              font: normal normal normal 14px/1 FontAwesome;
            }
          }
          .call_link {
              border: 1px solid $navbg;
              padding-left: 35px;
              display: inline-block;
              line-height: 50px;
              margin-top: 8px;
              height: 50px;
              width: 100%;
              color: $navbg;
              text-transform: uppercase;
              position: relative;
              cursor: pointer;
              @include bradius(5px);
              @include tablet_max{
                font-size: 12px;
              }
              @include mobile_s{
                padding-left: 40px;
              }
              &:after {
                content: "\f098";
                color: $navbg;
                display: inline-block;
                position: absolute;
                top: 17px;
                left: 10px;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                @include mobile_s{
                  left: 16px;
                }
              }
              &:hover{
                border: 1px solid $search_hover;
                color: $search_hover;
                @include transition(.2s);
              }
              &:hover::after{
                color: $search_hover;
                @include transition(.2s);
              }
            }
        }
      }
    }
  }
}
hr{
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

//bread scrumbs
.bread{
  border: $brdr_def;
  background: $nav_btt_bg;
  padding: 10px;
  margin: 10px 0;
  display: block;
  span{
    color: $navclr;
  }
}
//sidebar
.sidebar {
  .side_product {
    text-transform: uppercase;
    margin-bottom: 15px;
    background: $sb_items;
    padding: 10px;
    border: $brdr_def;
  }
  .sideb_ul {
    border: $brdr_def;
    @include bradius(3px);
    @include tablet_max{
      display: none;
    }
    .side_li {
      position: relative;
      border-bottom: $brdr_def;
      .a_side_main {
        display: block;
        padding: 10px;
        text-transform: uppercase;
        background: $sb_items;
        color: #000;
        &:hover {
          background: $def_clr_main;
          color: #fff;
          padding-left: 10px;
          @include transition(0.2s);
        }
        &:hover::after {
          color: #fff;
        }
        &:after {
          content: "\f054";
          color: $def_clr_main;
          display: inline-block;
          position: absolute;
          right: 20px;
          margin-top: 3px;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 12px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          @include mobile_s {
            left: 16px;
          }
        }
        @include mobile_l{
          display: inline-block;
        }
      }
      .side_addition_block {
        display: none;
        top: 0;
        left: 103%;
        width: 250px;
        z-index: 101010;
        height: auto;
        padding: 10px;
        position: absolute;
        background: #fff;
        border: $brdr_def;
        @include mobile_l {
          width: 100%;
          z-index: 1010;
          height: auto;
          position: relative;
          left: 0;
        }
        .side_add_header {
          display: inline-block;
          padding: 10px 20px;
          text-transform: uppercase;
          position: relative;
          @include mobile_l {
            display: none;
          }
          &:before{
            content: "";
            position: absolute;
            width: 5px;
            height: 5px;
            @include bradius(50%);
            background: $search_hover;
            left: 10px;
            top: 15px;
          }
        }
        .a_child_side {
          padding: 10px;
          display: inline-block;
          &:hover{
            color: $hover_all;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .sideb_ul_mb {
    display: none;
    margin-bottom: 15px;
    @include tablet_max{
      display: block;
    }
    .side_li_mb {
      position: relative;
      margin-left: 10px;
      .a_side_main_mb {
        display: inline-block;
        padding: 10px 0;
        text-transform: uppercase;
        color: #000;
        border-bottom: 1px dashed #ccc;
        &:hover {
          background: $def_clr_main;
          color: #fff;
          padding-left: 10px;
          @include transition(0.2s);
        }
        &:hover::after {
          color: #fff;
        }
        &:after {
          content: "\f054";
          color: $def_clr_main;
          display: inline-block;
          position: absolute;
          right: 20px;
          margin-top: 3px;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: 12px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          @include mobile_s {
            display: none;
          }
        }
        @include mobile_l{
          display: inline-block;
        }
      }
      .mb_desc{
        display: none;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 101010;
        height: auto;
        padding: 10px;
        background: #fff;
        @include mobile_l {
          width: 100%;
          z-index: 1010;
          height: auto;
          position: relative;
          left: 0;
        }
        .side_add_header_mb {
          display: inline-block;
          padding: 10px;
          text-transform: uppercase;
          @include mobile_l {
            display: none;
          }
        }
        .a_child_side_mb {
          padding: 10px;
          display: inline-block;
        }
      }
    }
  }
}
//news
.news{
  margin-top: 15px;
  background: #fff;
  border: $brdr_def;
  .news_head{
    padding: 10px;
    background: $navbg;
    p{
      color: $nav_top_clr;
    }
  }
  .bx_news{
    padding: 15px;
    .img_news{
      width: 70px;
      @include bradius(50%);
    }
  }
}

//slider
.wrapp_slider {
  .bxslider {
    img {
      width: 100%;
      max-height: 250px;
      @include tablet_max {
        height: auto;
      }
    }
    .content_slider {
      @include tablet_max {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 20%;
        .header_content_slider {
          font-size: 36px;
          text-transform: uppercase;
        }
      }
      @include large {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 20%;
        .header_content_slider {
          font-size: 36px;
          text-transform: uppercase;
        }
        .inner_slider{
          margin: 25px 0;
          text-transform: uppercase;
          font-size: 20px;
        }
      }
      @include mobile_l {
        color: #fff;
        position: absolute;
        display: block;
        z-index: 9999999999999;
        margin: 0 auto;
        top: 20%;
        left: 11%;
        .header_content_slider {
          font-size: 18px;
          text-transform: uppercase;
        }
      }
    }
  }
}

//category
.category_header{
  text-transform: uppercase;
  background: $sb_items;
  padding: 10px;
  border: $brdr_def;
  margin-bottom: 15px;
}

.wrapp_category {
  .wrapp_item_cat {
    height: auto;
    border: $brdr_def;
    // padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    &:hover .cat_hover{
     opacity: 1;
    }
    &:hover .cat_descr{
     padding-top: 25px;
    }
    &:hover .cat_name{
     opacity: 0;
    }
    &:hover .fade_in_desc{
     left: 0;
    }
    .cat_hover{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      padding-top: 20px;
      text-align: center;
      opacity: 0;
      @include transition(.25s);
      .cat_descr{
        @include transition(.25s);
        color: #fff;
        text-transform: uppercase;
      }
    }
    img {
      width: 100%;
    }
    .cat_name{
      position: absolute;
      // top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background: #fff;
      text-align: center;
      text-transform: uppercase;
      @include transition(.25s);
    }
    .fade_in_desc{
      position: absolute;
      color: #fff;
      left: 100%;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background: rgba(0,0,0,.5);
      text-align: center;
      @include transition(.15s);
    }
  }
}

//footer
.footer {
  background: $foot_bg;
  height: auto;
  padding: 20px 0;
  .nav_head{
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .nav_left {
    @include mobile_l {
      display: inline-block;
    }
    .foo_ul_nav {
      @include large {
        display: block;
      }
      @include mobile_l {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 9;
      }
      .foo_li_nav {
        @include mobile_l {
          float: none;
        }
        a {
          display: inline-block;
          padding: 10px;
          color: $foot_clr;
          text-transform: uppercase;
          font-size: 13px;
          &:hover {
            @include transition(.2s);
          }
        }
      }
    }
  }
  .foo_customer{
    .cust_head{
      padding: 10px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
    }
    .cust {
      @include large {
        display: block;
      }
      @include mobile_l {
        display: none;
        position: absolute;
        width: 100%;
        z-index: 9;
      }
      .cust_li {
        @include mobile_l {
          float: none;
        }
        a {
          display: inline-block;
          padding: 10px;
          color: $foot_clr;
          text-transform: uppercase;
          font-size: 13px;
          &:hover {
            @include transition(.2s);
          }
        }
      }
    }
  }
}




