//$navbg: #ffd556;
$navbg: #fff;

$navclr: #000;
//$def_hover_bg: #5bbceb;
$def_hover_bg: #60aee8;
$border_bott_nav: #cbcbcc;
$brdr_def: 1px solid #e8e8e8;
$navlinkhov: #4f7ead;
$m_listclr: #8c8ca4;
$m_listclr_hv: #fff;
$pink_color: #c237b1;
$brd_grey: #ccc;
$fs_body: 22px;
// $def_clr_main: #ffd556;
$def_clr_main: #60aee8;


