//$nav_btt_bg: #0099ff;
//$nav_btt_bg: #81909a;
$nav_btt_bg: #ffc107;
$nav_top_clr: #000;
$navbg: #fff;
//$search_hover: #60cee8;
$search_hover: #ef8d27;
$navclr: #fff;
$def_hover_bg: #60aee8;
$border_bott_nav: #cbcbcc;
$brdr_def: 1px solid #e8e8e8;
$hover_all: #ffb045;
$def_clr_main: #60aee8;
$tsh_nbtt: 1px 1px 1px #d05c5c;


