//$nav_btt_bg: #0099ff;
$nav_btt_bg: #fff;
//$nav_btt_bg: #fb0;
$nav_top_clr: #fff;
$nav_top_clr_h: #808080;
$navbg: #59b8e8;
//$search_hover: #60cee8;

$search_hover: #ff8000;
$search_hover_circle: #ffa500;
$navclr: #808080;
$def_hover_bg: #fb0;
$border_bott_nav: #cbcbcc;
$brdr_def: 1px solid #e8e8e8;
$hover_all: #ffb045;
$def_clr_main: #59b8e8;
//$def_clr_main: #fb0;
$tsh_nbtt: 1px 1px 1px #d05c5c;
$h_nav_btt: 60px;
$lh_nav_btt: 60px;


